.navbar {
	background-color: #003247;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color: #335E6F;
}

.navbar .links {
	background-color: #003247 !important;
}

.navbar .links > .nav-links > .nav-item > a.nav-link,
.navbar .links .dropdown-title {
    color: white !important;
}

a:not(.action-button), a.sidebar-link, .mobile-dropdown-title {
    color: #00AE9D !important;
    transition: all .3s ease-in-out !important;
}
.mobile-dropdown-title  {
    font-size: 1em !important;
}
a:not(.action-button):hover, a.sidebar-link:hover {
    color: #003247 !important;
}
.page a:not(.action-button), .home a:not(.action-button) {
    text-decoration: underline;
}


.site-name {
    display: none !important;
}
.home-link:after {
    content: 'Documentation'
    color: white;
    font-size: 1.5em;
    font-weight: 200;
}
.sidebar-button {
    color: white !important;
    padding: 1.2rem 0.6rem !important;
}

.dropdown-subitem-wrapper {
    margin-left: 1rem !important;
    margin-bottom: 0.5em !important;
}

.dropdown-wrapper .nav-dropdown .dropdown-item h4 {
    border-top: 0 !important;
    margin-top: 0.5em !important;
    padding-top: 0 !important;
}

.home .hero .description {
    color: #003247 !important;
}

.fullpage {
    height: calc(100vh - 5rem) !important;
    padding-top: 5rem !important;
}
.fullpage-content {
    height 100%;
}

.docgen .menu-container .controls li a,
.vue-component .badges .badge a {
    color: white !important;
    background-color: #a75534 !important;
}
.docgen .menu-container .controls li a:hover,
.vue-component .badges .badge a:hover {
    background-color: black !important;
}

tr:nth-child(2n) {
    background-color: inherit !important;
}