// colors
$accentColor = #335E6F
$textColor = #003247
$borderColor = #e8e8e4
$codeBgColor = #003247
$arrowBgColor = #e8e8e4
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 5rem

// responsive breakpoints
$MQNarrow = 1500px
$MQMobile = 1100px
$MQMobileNarrow = 419px